{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'apps/img/rasm.png' %}" height="40px"/>
{#            <img src="https://www.kindpng.com/picc/m/159-1595848_python-logo-png-transparent-background-python-logo-png.png" height="40px"/>#}
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}